services:
  web:
    container_name: sakai-react-web
    build:
      context: .
      dockerfile: Dockerfile
    image: sakai-react-web:latest
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: 3000
    ports:
      - "3000:3000"
    restart: unless-stopped
